In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("calender.csv")
df_draft = df.copy()

In [3]:
df_draft["date"] = pd.to_datetime(df_draft["date"]).apply(lambda x: x.strftime("%d.%m.%Y"))

In [6]:
df_work_month=df_draft[df_draft["red_day_not_sun"] == 0].groupby("month_year_name", as_index=False)["red_day_not_sun"].count()
df_work_month

   month_year_name  red_day_not_sun
0       April 2013               30
1       April 2014               30
2       April 2015               30
3      August 2013               31
4      August 2014               31
5      August 2015               31
6    December 2013               31
7    December 2014               31
8    February 2013               27
9    February 2014               27
10   February 2015               27
11    January 2013               25
12    January 2014               25
13    January 2015               23
14       July 2013               31
15       July 2014               31
16       July 2015               31
17       June 2013               29
18       June 2014               27
19       June 2015               29
20      March 2013               30
21      March 2014               30
22      March 2015               30
23        May 2013               26
24        May 2014               26
25        May 2015               28
26   November 2013               29
27   November 2014               27
28   November 2015               29
29    October 2013               31
30    October 2014               31
31    October 2015               31
32  September 2013               30
33  September 2014               30
34  September 2015               30

In [7]:
df_work_month.to_csv("work_days.csv")

In [5]:
df_draft.to_csv("formatted_calender.csv")